.alert {
  padding: 12px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.4s ease-in-out;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-left: 5px solid #28a745;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border-left: 5px solid #dc3545;
}
#recaptcha .iframe {
  transition: border 0.3s ease;
}
.remember-me {
  float: left;
  display: flex;
  gap: 3px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

.container-sec {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.row {
  display: inline-flex;
  margin-left: -50px;
  margin-top: -32px;
  overflow: hidden;
}
.row:nth-child(even) {
  margin-left: 1px;
}
.hexagon {
  position: relative;
  height: 110px;
  width: 100px;
  background: #111;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: all 0.3s ease;
  cursor: pointer;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.02);
}
.hexagon:hover {
  background: #00ff00;
  box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 60px #00ff00;
  transform: scale(1.1);
  transition: all 0s;
  z-index: 10;
}
section {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
}
section .signin {
  position: absolute;
  width: 100%;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
}
section .signin .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
section .signin .content h2 {
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
  animation: animate 4s linear infinite;
  letter-spacing: 2px;
}
section .signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section .signin .content .form .inputBox {
  position: relative;
  width: 100%;
}

section .signin .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

section .signin .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.form-check-label {
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  text-align: left;
}
.form-check {
  display: flex;
  align-items: self-start;
  justify-content: center;
  gap: 2px;
}
input#agreeTerms {
  margin-top: 3px;
}

.signin .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signin .content .form .links a {
  color: #0f0;
  font-weight: 600;
  animation: animate 4s linear infinite;
}

.signin .content .form .links a:nth-child(2) {
  color: #0f0;
  font-weight: 600;
  animation: animate 4s linear infinite;
  text-decoration: none;
}
.signin .content .form .inputBox input[type="submit"] {
  padding: 10px;
  background: #0f0;
  animation: animate 4s linear infinite;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active {
  opacity: 0.6;
}
@media (max-width: 425px) {
  .section {
    width: 320px;
  }
}
